In [ ]:
#1 Introduction (5pt)
#2 Data preparation: (20 pt)
#3 Explore and clean the data by: (20 pt)
#4 Describe and visualise: (50 pt)
#5 Conclusion (5pt)

In [ ]:
#1 Introduction: Formulate a research question that allows for explorations and comparisons.
#The research question:
#Has The Netherlands compared to other Western Europe countrys less deaths? And is there a corralation with vaccinated people?

In [14]:
#2 Data preparation: The dataset of COVID
# pandas module for working with Series and Dataframes
import pandas as pd

# load dataset
covid = pd.read_excel('https://covid.ourworldindata.org/data/owid-covid-data.xlsx')

covid.head()

  iso_code continent  ... excess_mortality excess_mortality_cumulative_per_million
0      AFG      Asia  ...              NaN                                     NaN
1      AFG      Asia  ...              NaN                                     NaN
2      AFG      Asia  ...              NaN                                     NaN
3      AFG      Asia  ...              NaN                                     NaN
4      AFG      Asia  ...              NaN                                     NaN

[5 rows x 67 columns]

In [ ]:
#3 Explore and clean the data by: (20 pt)
# The Netherlands total deaths with other Western Countrys and there total vaccinated peoples.
covid.loc[covid.Pclass == 1, ['The Netherlands']

In [ ]:
#3 Explore and clean the data by:

In [ ]:
#4 Describe and visualise: (50 pt)

In [ ]:
#5 Conclusion (5pt)